.login h1 a {
	width: 200px !important;
	height: 111px !important;
	background-size: 200px 111px;
}

#login-bar {
	height: 45px;
	background:#004377;
}

.topnav ul {
	float: right;
}

.topnav li {
	float: left;
	list-style-type: none;
	margin-top: 10px;
	border-right: 1px solid #1a598c;
	color: #ffffff;
	font-weight:bold;
	padding: 0 15px;
	white-space: nowrap
}

.topnav a {
	color: #ffffff;
	font-weight:bold;
	white-space: nowrap;
}

.post .entry h1 {
font-size:36px;
line-height:36px;
}

.post .entry h2 {
font-size:18px;
line-height:27px;
}

.post .entry h3 {
font-size:16px;
line-height:24px;
}

.post .entry h4 {
font-size:14px;
line-height:21px;
}

.post .entry h5 {
font-size:12px;
line-height:18px;
}

.post .entry h6 {
font-size:10px;
line-height:15px;
}

ul li {
	font-size:14px;
	line-height:24px;
}

p img {
max-width:100%;
padding:0;
}

img.alignright {
display:inline;
margin:2px 0 2px 7px;
}

img.alignleft {
display:inline;
margin:2px 7px 2px 0;
}

img.alignleft-icon {
vertical-align:middle;
margin:0 15px 0 0;
}

.alignright {
float:right;
display:inline;
margin-left:15px;
}

.alignleft {
float:left;
display:inline;
margin-right:15px;
}

#wp-calendar {
empty-cells:show;
margin:10px auto 0;
}

#wp-calendar #next a {
padding-right:10px;
text-align:right;
}

#wp-calendar #prev a {
padding-left:10px;
text-align:left;
}

#wp-calendar a {
display:block;
}

#wp-calendar caption {
text-align:center;
width:100%;
}

#wp-calendar td {
text-align:center;
padding:3px 0;
}

.wp-caption {
border:1px solid #ddd;
text-align:center;
padding-top:4px;
margin:10px;
}

.wp-caption img {
border:0 none;
margin:0;
padding:0;
}

.wp-caption p.wp-caption-text {
font-size:11px;
line-height:17px;
margin:0;
padding:0 4px 5px;
}

.post .entry {
overflow:hidden;
}

@font-face {
font-family:GaramondRegular;
src:url(font-face/garamond_regular-webfont.eot?iefix) format(eot), url(font-face/garamond_regular-webfont.woff) format(woff), url(font-face/garamond_regular-webfont.ttf) format(truetype), url(font-face/garamond_regular-webfont.svg#webfont1rgAkLC2) format(svg);
font-weight:400;
font-style:normal;
}

* {
outline:0;
margin:0;
padding:0;
}

body,html {
height:100%;
}

body {
font-size:14px;
line-height:24px;
font-family:arial, sans-serif;
color:#1a1a1a;
background:#FFF;
min-width:678px;
margin: 0;
padding: 0;
}

h1,h2,h3,h4,h5,h6 {
color:#004377;
}

h1 {
font-size:28px;
line-height:36px;
}

h2 {
font-size:21px;
line-height:30px;
color:#004377;
}

h3 {
font-family:Arial, "MS Trebuchet", sans-serif;
font-size:14px;
line-height:16px;
color:#0096d6;
}

h4 {
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
line-height:16px;
color:#7C7C7C;
padding:15px 0 3px;
}

h1 a {
color:#7C7C7C;
}

a {
color:#2F5E9E;
text-decoration:none;
cursor:pointer;
}

a:hover {
text-decoration:underline;
}

hr {
border:0;
width:100%;
height:1px;
color:#7C7C7C;
background-color:#7C7C7C;
margin-bottom:15px;
}

input,textarea,select {
font-size:14px;
font-family:arial, sans-serif;
padding:4px;
}

textarea {
overflow:auto;
}

.cl {
display:block;
height:0;
font-size:0;
line-height:0;
text-indent:-4000px;
clear:both;
}

#wrapper {
min-height:100%;
height:auto!important;
}

.shell {
width:961px;
position:relative;
margin:0 auto;
padding:0 14px;
}

#header {
height:120px;
background:#fff;
border-bottom:7px solid #004377;
padding:0 0 0 0;
}

h1#logo {
width:211px;
font-size:0;
line-height:0;
float:left;
display:inline;
}

h1#logo a {
background:url(images/logo.png) no-repeat 0 0;
height:111px;
width:245px;
text-indent:-4000px;
display:block;
}

#navigation {
float:right;
display:inline;
padding-top:64px;
}

#navigation ul {
list-style:none;
}

#navigation ul li {
float:left;
display:inline;
padding-left:12px;
font-family:arial, sans-serif;
}

#navigation ul li a {
float:left;
display:inline;
height:30px;
padding-left:6px;
color:#0096D6;
font-size:16px;
font-weight:bold;
}

#navigation ul li a span {
float:left;
display:inline;
padding-right:6px;
height:28px;
}

/*
#navigation ul li.current-page-ancestor a,#navigation ul li.current-menu-item a,#navigation ul li.current_page_parent a {
background:url(images/hover.png) no-repeat 0 0;
}
*/

#navigation ul li.current-page-ancestor a:hover,#navigation ul li.current-menu-item a:hover,#navigation ul li.current_page_parent a:hover {
color:#004377;
}

#navigation ul li.current-page-ancestor a span,#navigation ul li.current-menu-item a span,#navigation ul li.current_page_parent a span {
/*background:url(images/hover.png) no-repeat right 0;*/
color:#004377;
}

#navigation ul li a:hover {
text-decoration:none;
color:#2F5E9E;
}

.socials {
position:absolute;
top:0;
right:15px;
}

.socials a {
float:left;
display:inline;
margin-left:5px;
}

#main {
background:#ffffff; /* f6f6f6 */
padding-top: 20px; /* 66px */
padding-bottom:60px;
height:100%;
}

#sidebar {
width:200px;
float:left;
display:inline;
min-height:1px;
}

.side-nav {
width:190px;
margin-left:-14px;
position:relative;
padding-bottom:12px;
background:url(images/corner.png) no-repeat 0 bottom;
}

.side-nav ul {
list-style:none;
font-family:Arial, "MS Trebuchet", sans-serif;
}

.side-nav ul li {
font-size:15px;
text-transform:capitalize;
}

.side-nav ul li a {
display:block;
height:32px;
line-height:32px;
padding-left:21px;
font-weight:700;
color:#fff;
background:#d02e18;
}

.side-nav .subnav-1 {
background:#3787e3;
}

.side-nav .subnav-2 {
background:#3381d7;
}

.side-nav .subnav-3 {
background:#3179cd;
}

.side-nav .subnav-4 {
background:#2d70bf;
}

.side-nav .subnav-5 {
background:#2763ad;
}

.side-nav .subnav-6 {
background:#259;
}

.side-nav .subnav-7 {
background:#1e4d8d;
}

.side-nav .subnav-8 {
background:#1a437a;
}

.side-nav .active,.side-nav a:hover {
background-image:url(images/arrow_new.png);
background-position:165px 7px;
background-repeat:no-repeat;
}

#content {
width:683px;
padding-left:7px;
padding-right:60px;
float:left;
display:inline;
}

#content-2col {
width:660px;
padding-left:20px;
padding-right:20px;
float:left;
display:inline;
}

#sidebar-2col {
	width: 240px;
	float:left;
}

#sidebar-2col aside {
	margin:20px 0 20px 0;
}

#sidebar-2col .widget {
	width:240px !important;
	padding-right:10px;
}

#sidebar-2col .widget-title {
	color: #004377;
    font-size: 18px;
    line-height: 30px;
	font-weight:bold;
}

#content.no-sidebar {
width:850px;
padding:0 100px;
}

#content.no-sidebar .post {
padding:15px 100px;
}

#content.no-sidebar h3 {
color:#4F4D4D;
}

.post p {
padding-bottom:17px;
font-size:14px;
line-height:24px;
}

.welcome {
background:#195AA0;
width:274px;
height:270px;
float:left;
display:inline;
padding:20px 20px 14px 12px;
}

.welcome h1 {
	color: #ffffff;
	font-size:21px;
	font-weight:bold;
	padding: 0 0 1px 10px;
}

.welcome h2 {
	color: #ffffff;
	font-size:14px;
	line-height:14px;
	padding: 0 0 5px 10px;
}

.welcome h4 {
font-size:20px;
line-height:20px;
color:#fff;
text-transform:uppercase;
background:url(images/welcome-heading.png) no-repeat 0 0;
height:37px;
width:240px;
font-family:Arial, "MS Trebuchet", sans-serif;
margin-left:-5px;
padding:7px 0 0 10px;
}

.welcome p {
font-size:11px;
line-height:18px;
padding-left:10px;
padding-top:5px;
color:#fff;
font-family:GaramondBold, arial, sans-serif;
}

.welcome a {
font-weight:bold;
color:#ffffff;
float:right;
font-size:14px;
line-height:17px;
background: url(images/welcome-arrow.png) right center no-repeat;
padding-right:25px;
}

.welcome a:hover {
	text-decoration: none;
	color:#E77E24;
}

.service {
width:963px;
overflow:hidden;
position:relative;
padding-top:10px;
padding-bottom:20px;
}

.box {
width:225px;
float:left;
display:inline;
}

.box + .box {
margin-left:15px;
}

.box a {
height:30px;
padding-top:90px;
display:block;
text-align:center;
font-family:Arial, "MS Trebuchet", sans-serif;
font-size:14px;
color:#195AA0;
text-transform:uppercase;
font-weight:700;
position:relative;
margin-bottom:0;
overflow:hidden;
}

/*.box a:hover img {
top:-111px;
}*/

.color-1 { 
	color:#E77E24;
}

.color-2 {
	color:#239D48;
}

.color-3 {
	color:#0AB4AD;
}

.color-4 {
	color:#E94F79;
}

.box .aquisitions {
background:url(images/aq.png) no-repeat 0 0;
}

.box .dev {
background:url(images/dev.png) no-repeat 0 0;
}

.box .growth {
background:url(images/gr.png) no-repeat 0 0;
}

.box .outreach {
background:url(images/out.png) no-repeat 0 0;
}

.box .supp {
background:url(images/sup.png) no-repeat 0 0;
}

.box .capture {
background:url(images/data.png) no-repeat 0 0;
}

.box a img {
position:absolute;
top:0;
left:0;
width:225px;
}

.box a span {
position:relative;
}

.box p {
font-size:12px;
line-height:18px;
color:#1e1e1e;
padding:0 5px 0 0;
}

body.home #footer {
height:200px;
border-top:7px solid #004377;
background:#E3E7EA;
}

#footer {
padding-top:30px;
padding-bottom:40px;
border-top:20px solid #004377;
background:#E3E7EA;
}

.widget {
width:200px;
float:left;
display:inline;
padding-top:8px;
padding-right:40px;
padding-left:2px;
}

.widget h3 {
padding-bottom:10px;
}

.widget p {
font-size:14px;
line-height:24px;
color:#1a1a1a;
}

.widget.last {
float:right;
padding:0;
}

.theme-widget-testimonial .author {
text-align:right;
}

.join {
float:right;
display:inline;
width:229px;
height:117px;
position:relative;
font-size:0;
line-height:0;
text-indent:-4000px;
margin-top:7px;
}

.join img {
position:absolute;
top:0;
left:0;
width:229px;
height:117px;
}

#reply-title {
padding:0;
}

#commentform label {
float:left;
width:100px;
height:20px;
}

#commentform p {
clear:both;
overflow:hidden;
padding-bottom:10px;
}

#commentform input {
padding:3px;
}

#commentform #submit {
margin-left:100px;
}

.commentlist {
padding-bottom:10px;
list-style-type:none;
}

.commentlist .children {
list-style-type:none;
}

.comment {
padding-top:20px;
}

.comment .comment {
padding-left:30px;
}

.comment-author {
font-weight:700;
}

.comment-author img {
border:5px solid #FFF;
-webkit-box-shadow:0 0 2px #000;
-moz-box-shadow:0 0 2px #000;
box-shadow:0 0 2px #000;
float:left;
margin:0 10px 10px 0;
}

.comment-meta {
font-style:italic;
}

.comment-text {
clear:both;
margin-top:2px;
overflow:hidden;
}

.post blockquote {
font-family:GaramondRegular, serif;
border:10px solid #2F5E9E;
border-width:0 0 0 5px;
margin:0 40px 30px;
padding:0 10px;
}

.post blockquote p {
padding-bottom:0;
font-size:16px;
line-height:24px;
}

.post ol,.post ul {
margin:0 0 0 20px;
padding:0 0 20px;
}

.post ol ol,.post ul ul {
padding-bottom:0;
}

.clear {
clear:both;
}

.post .entry ul,.post .entry ol {
margin-left:25px;
}

.post .entry a img,a img {
border:0;
}

img.centered,.aligncenter,div.aligncenter {
display:block;
margin-left:auto;
margin-right:auto;
}

.side-nav ul li a:hover,.box a:hover {
text-decoration:none;
}

.slider-holder,.slider-bg {
margin-top:0;
height:304px;
}

#commentform span.required,.remove-br br {
display:none;
}

.menu-quicklinks-container ul {
	list-style-type:none;
}

#menu-quicklinks li a {
	font-size:14px;
	line-height:30px;
	font-weight:bold;
}

.xbottom {
	margin-bottom:15px !important;
}

.widget_nav_menu ul {
	list-style-type: none;
}

.sidebar-icons ul li {
	list-style: none;
}

.sidebar-icons ul li a {
	display:block;
	font-size:12px;
	line-height:12px;
	width:177px;
	height:27px;
	font-weight:bold;
	padding:17px 0 0 55px; 
}

.sidebar-icons ul li.peace-of-mind {
	background:url(images/peace-of-mind-bg.png) left no-repeat;
}

.sidebar-icons ul li.financial-aid {
	background:url(images/financial-aid-bg.png) left no-repeat;
}

.sidebar-icons ul li.faqs {
	background:url(images/FAQs-bg.png) left no-repeat;
}

.sidebar-icons ul li.general-information {
	background:url(images/learn-more-bg.png) left no-repeat;
}

.widget-title {
	padding-bottom:10px;
}

#full-width {
	width: 900px;
}